:root 
{
  font-size: 62.5%;
  --ff-primary: 'Epilogue', sans-serif;
  --fw-heading: 800;
  --fs-heading: 4.0rem;
  --fs-heading-sm: clamp(2.6rem, 0.5rem + 3vw, 5.6rem);
  --Lh-heading: 4.8rem;
  --fw-p: 400;
  --fs-p: 1.6rem;
  --Lh-p: 3.2rem;
  --fs-body: 1.6rem;

  --bg-primary: #28293e;
  --fc-primary: #ffffff;
}

* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2 
{
  font-weight: var(--fw-heading);
  font-size: var(--fs-heading);
  line-height: var(--Lh-heading);
}

p, span 
{
  font-weight: var(--fw-p);
  font-size: var(--fs-p);
  line-height: var(--Lh-p);
}

body 
{
  font-family: var(--ff-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);

  background-color: var(--bg-primary);
}

.page 
{
  max-width: clamp(33.0rem, 1rem + 80vw, 117.0rem);
  padding: 0 2rem;
  margin: 10rem auto 10rem;
}

img 
{
  width: 100%;
  height: auto;
}

header 
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8rem;

  animation: topdown 700ms ;
}

header p 
{
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
}

main 
{
  display: grid;
  gap: 3.2rem;
  opacity: 0;
  animation: downtop 700ms 400ms forwards;
}

.card 
{
  position: relative;
}

.card img 
{
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  filter: brightness(0.7);

  transition: all 200ms;
}

.card img:hover 
{
  transform: scale(1.05);
  opacity: 0.7;
}

.card h2 
{
  position: absolute;
  left: 2.8rem;
  bottom: 5.1rem;

  font-size: var(--fs-heading-sm);
  
  display: flex;
  flex-direction: column;
  gap: 2.3rem;

  
}

.card span 
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--bg-primary);
  background-color: var(--fc-primary);

  width: fit-content;
  height: 3.4rem;
  padding: 0 1.6rem;

  border-radius: 2rem;
}



@keyframes topdown 
{
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop 
{

  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

@media (min-width: 700px) 
{


  header h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 920px)
{
  main {
    grid-template-areas: "a b b"
    "c c d";
  }

  main div:nth-child(1)
  {
    grid-area: a;
  }
  main div:nth-child(2)
  {
    grid-area: b;
  }
  main div:nth-child(3)
  {
    grid-area: c;
  }
  main div:nth-child(4)
  {
    grid-area: d;
  }
}
